<IfModule mod_rewrite.c>
  RewriteEngine On

  # Stop processing if request is already for index.html
  RewriteRule ^index\.html$ - [L]

  # If file or folder exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Relative redirect to index.html in the same folder
  RewriteRule ^ index.html [L]
</IfModule>
